:root {
  --color-primary-light-1: #c39bd3;
  --color-primary-light-2: #7b23ff;
  --color-primary: #6400fd;
  --color-primary-dark: #5a00e4;
  --color-primary-darkest: #5000ca;
  --color-green: #55c57a;
  --color-orange: #ff7230;
  --color-yellow: #ffc300;
  --color-grey-light-1: #f0f0f0;
  --color-grey-light-2: #999;
  --color-grey-light-3: #e4e0e0;
  --color-grey-light-4: #f4f2f2;
  --color-grey-light-5: #f0eeee;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-dark-1: #2c3e50;
  --color-white: #fff;
  --color-black: #000;
  --default-font-size: 1.6rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: #e1e1e1;
  min-height: 100vh; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: var(--default-font-size);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
  -webkit-border-radius: 100px; }

.btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px); }

.btn:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s; }

.btn--violet {
  margin-top: 1.7rem;
  background-color: var(--color-primary);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--color-white); }
  .btn--violet:after {
    content: '';
    background-color: var(--color-secondary); }

.btn-table {
  padding: 1.3rem 2.5rem;
  outline: none;
  border: none;
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  margin-left: -1.2rem;
  letter-spacing: normal;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .btn-table--violet {
    background-color: var(--color-primary); }
  .btn-table--orange {
    background-color: var(--color-orange); }
  .btn-table--product {
    font-weight: 700;
    border: solid 1px var(--color-primary);
    color: var(--color-primary); }
  .btn-table:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2); }
  .btn-table:active, .btn-table:focus {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px); }

.btn-circle, .btn-circle:link, .btn-circle:visited {
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  border: none;
  color: var(--color-white);
  padding: 0.3rem 1.7rem;
  background: var(--color-primary);
  border-radius: 100%;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  padding: 1rem 1.7rem; }

.btn-circle:hover {
  outline: none;
  background-color: var(--color-primary);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px); }

.btn-circle:active {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.navbar {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(225deg, #f1f1f1, #cbcbcb);
  box-shadow: -7px 7px 14px #c4c4c4, 7px -7px 14px #fefefe; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  height: 8rem; }

.navbar-flex {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-grey-dark-2); }

.contact-info {
  display: flex;
  justify-content: center; }
  .contact-info__text {
    margin: 0 1rem;
    border-radius: 10px;
    background: #e1e1e1;
    box-shadow: inset 20px 20px 60px #bfbfbf, inset -20px -20px 60px #ffffff;
    cursor: pointer;
    padding: 1rem;
    align-self: center; }

.list-items {
  list-style: none;
  display: flex;
  align-items: center; }
  .list-items__item {
    border-radius: 10px;
    background: linear-gradient(145deg, #f1f1f1, #cbcbcb);
    box-shadow: 7px 7px 14px #c4c4c4, -7px -7px 14px #fefefe;
    cursor: pointer;
    padding: 0.4rem 1rem;
    margin: 0 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
  .list-items__social-icon {
    margin-top: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-dark-1); }

.card-header {
  height: 20rem;
  background: #e1e1e1;
  width: 100%;
  padding: 6rem 0;
  overflow: hidden;
  padding: 0 5rem; }
  .card-header__text {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .card-header__button {
    border-radius: 10px;
    background: linear-gradient(145deg, #f1f1f1, #cbcbcb);
    box-shadow: 7px 7px 14px #c4c4c4, -7px -7px 14px #fefefe; }

.card {
  display: grid;
  grid-template-columns: repeat(3, 31rem);
  grid-template-rows: repeat(3, auto);
  justify-content: space-evenly;
  row-gap: 3rem;
  padding: 3rem 3rem; }
  .card__item {
    overflow: hidden;
    border-radius: 3rem;
    background: #e1e1e1;
    box-shadow: 2rem 2rem 6rem #bfbfbf, -2rem -2rem 6rem #ffffff;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem; }
  .card__image {
    height: 20rem;
    overflow: hidden; }
    .card__image--content {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
  .card__details {
    padding: 2rem 1rem;
    text-align: left;
    position: relative; }
  .card__header {
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    font-weight: 700;
    width: 50%; }
  .card__stars {
    display: flex;
    margin-right: auto;
    margin-bottom: 1rem; }
    .card__stars--icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-yellow); }
  .card__discount {
    position: absolute;
    background-color: var(--color-grey-light-1);
    color: orangered;
    padding: 1.4rem 2.5rem;
    top: 0;
    right: 0;
    font-size: 1.7rem;
    font-weight: 500; }
  .card__text {
    display: block;
    color: var(--color-grey-dark-2);
    margin-right: auto; }
  .card__value {
    font-size: 1.8rem;
    color: var(--color-grey-dark-2);
    font-weight: 500;
    margin: 1rem 0; }

/*CALL TO ACTION BUTTON*/
.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem; }
  .cta__icon {
    font-size: 2.5rem;
    text-decoration: none; }

.product-container {
  height: 60rem;
  display: flex;
  justify-content: space-around;
  transform: translateY(2rem);
  -webkit-transform: translateY(2rem);
  -moz-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  -o-transform: translateY(2rem); }

.product-content {
  margin: 3rem;
  flex-basis: 50%; }

.product-text {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  transform: translateY(2rem);
  -webkit-transform: translateY(2rem);
  -moz-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  -o-transform: translateY(2rem); }

.product-image {
  width: 100%;
  height: auto; }

.products-form {
  margin: auto;
  padding: 5rem 3rem;
  border-radius: 5px;
  transform: translateY(4rem);
  -webkit-transform: translateY(4rem);
  -moz-transform: translateY(4rem);
  -ms-transform: translateY(4rem);
  -o-transform: translateY(4rem);
  border-radius: 3rem;
  background: #e1e1e1;
  box-shadow: 2rem 2rem 6rem #bfbfbf, -2rem -2rem 6rem #ffffff;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem; }

.content {
  display: flex;
  flex: 0 0 50%;
  overflow: hidden; }
  .content:not(:last-child) {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    flex-direction: column;
    padding: 6rem;
    margin-right: 5rem; }
  .content__logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.4rem; }
  .content__heading {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .content__sub-heading {
    margin-bottom: auto;
    font-size: 2.2rem; }
  .content__legal {
    align-self: flex-start;
    font-size: 1.4rem; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%; }
  .form__input {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: var(--color-grey-dark-1);
    padding: 1.4rem 2rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: block;
    width: 90%;
    border-bottom: 3px solid transparent; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.1);
      border-bottom: 3px solid var(--color-green); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-green); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-grey-light-2); }
  .form__error {
    color: var(--color-orange);
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem); }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
    color: var(--color-grey-light-2); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -o-transform: translateY(-4rem); }
  .form__text {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .form__span {
    font-size: 2.2rem;
    color: var(--color-primary);
    font-weight: 700; }
  .form__upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
    margin-bottom: 1.2rem; }
  .form__btn-upload {
    border: 2px solid var(--color-primary);
    color: var(--color-dark-1);
    background-color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; }
  .form__upload-btn-wrapper input[type='file'] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }

.table-product {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
  align-items: center;
  padding: 2rem; }

h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--color-grey-light-2);
  flex-basis: 70%; }

.responsive-table li {
  border-radius: 3px;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between; }

.responsive-table .table-header {
  background-color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.03em; }

.responsive-table .table-row {
  border-bottom: 1px solid var(--color-primary-light-1); }

.responsive-table .col-1 {
  flex-basis: 40%; }

.responsive-table .col-2 {
  flex-basis: 10%; }

.responsive-table .col-3 {
  flex-basis: 10%; }

.responsive-table .col-4 {
  flex-basis: 10%; }

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none; }
  .responsive-table li {
    display: block; }
  .responsive-table .col {
    flex-basis: 100%; }
  .responsive-table .col {
    display: flex;
    padding: 10px 0; }
    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right; } }

.section-auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  .section-auth .container {
    background: #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem; }

.section-dtable {
  width: 80%;
  margin: auto;
  transform: translateY(15%);
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
  -ms-transform: translateY(15%);
  -o-transform: translateY(15%);
  border-radius: 3rem;
  background: #e1e1e1;
  box-shadow: 2rem 2rem 6rem #bfbfbf, -2rem -2rem 6rem #ffffff;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem; }

.section-product {
  height: 100vh;
  width: 100%;
  background: #e1e1e1; }

.section-main {
  position: relative;
  background: #e1e1e1; }
