.btn {
  // Button itself
  //Anchor Tag is inline element
  &,
  &:link,
  &:visited {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    //BORDERRADIUSFORALLBROWSER
    -webkit-border-radius: 100px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: var(--default-font-size);
    //TRANSITIONFORALLBROWSER
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    //ButtonElementborder: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
  }

  @include btn-hover;

  @include btn-active-focus;

  // Active and Focus state of Button

  //   &--animated {
  //     animation: moveInBottom 0.6s ease-out;
  //     -webkit-animation: moveInBottom 0.9s ease-out;
  //     animation-fill-mode: backwards;
  //   }

  // After in connected to hover
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    border-radius: 10rem;
    // BORDER RADIUS FOR ALL BROWSER
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    // TRANSITION FOR ALL BROWSER
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }

  &--white {
    margin-top: 3rem;
    background-color: var(--color-grey-light-5);
    font-weight: 500;
    padding: 0.9rem !important;
    color: var (--color-grey-light-2);

    &::after {
      content: '';
      background-color: var(--color-grey-light-5);
    }
  }

  //   &--grey {
  //     margin-top: 1.7rem;
  //     background-color: $color-grey-primary;
  //     font-weight: 500;
  //     color: $color-white-primary;
  //     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);

  //     &::after {
  //       content: '';
  //       background-color: $color-grey-secondary;
  //     }
  //   }

  &--violet {
    margin-top: 1.7rem;
    background-color: var(--color-primary);
    font-weight: 500;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--color-white);
    //box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.5);
    &:after {
      content: '';
      background-color: var(--color-secondary);
    }
  }
}

.btn-table {
  padding: 1.3rem 2.5rem;
  outline: none;
  border: none;
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  margin-left: -1.2rem;
  letter-spacing: normal;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  &--violet {
    background-color: var(--color-primary);
  }

  &--orange {
    background-color: var(--color-orange);
  }

  &--product {
    font-weight: 700;
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
  }

  @include btn-hover;

  @include btn-active-focus;
}

// You can use href or button to  make circle
.btn-circle {
  &,
  &:link,
  &:visited {
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    border: none;
    color: var(--color-white);
    padding: 0.3rem 1.7rem;
    background: var(--color-primary);
    border-radius: 100%;
    box-shadow: 0rem 1rem 3rem rgba(black, 0.3);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    // Button
    cursor: pointer;
    padding: 1rem 1.7rem;
  }

  &:hover {
    outline: none;
    background-color: var(--color-primary);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }

  &:active {
    box-shadow: 0rem 1rem 2rem rgba(black, 0.4);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
