// Sign up and Sign in layout
.section-auth {
  height: 100vh;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
  }
}

.section-new {
  background: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.section-dtable {
  width: 80%;
  margin: auto;
  transform: translateY(30%);
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
}

.section-product {
  height: 100vh;
  width: 100%;
  background-color: var(--color-white);
}
